/*Variables*/
/*Mixins*/
/*Best Practices*/
.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

img {
  display: block;
  border: 0;
  -ms-interpolation-mode: bicubic; }

a {
  text-decoration: none; }

table, td {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

/*Styles*/
