/*Variables*/
$white: #ffffff;
$black: #000000;

/*Mixins*/
@mixin copy ($size, $color, $line:null) {
	font-family: Arial, Helvetica, sans-serif;
	font-size: $size;
	color: $color;
	@if ($line != null) {
		mso-line-height-rule: exactly;
	}
	line-height: $line;
}

/*Best Practices*/
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
img {
	display: block;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
a {
	text-decoration: none;
}
table, td {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

/*Styles*/
.container {
	
}